.postbox-container{
	margin: 20px 0;
}
.postbox{
	margin: 0 5px;
	width: 330px;
	float: left;
}
h2.hndle.ui-sortable-handle {
    padding: 10px 15px;
    margin: 0;
    font-size: 1.3em;
}

.postbox .inside{
	padding: 0;
	border-top: 1px solid #B8D6FF;
	border-bottom: 1px solid #B8D6FF;
	margin: 0;
}
.postbox .hndle, .stuffbox .hndle{
	border-bottom: none;
}
.task{
	border-bottom: 1px solid #e7e7e7;
	padding: 15px;
	cursor: pointer;
}
.task:last-child{
	border-bottom: none;
}
.task-name{
	font-weight: 500;
}
/* .task-icons:not(.task-label){
	padding: 0;
} */
.task-name,.task-assign{
	display: block;
	padding: 5px 0;
}

.task .dashicons-editor-ul::before{
	position: relative;
	top: 3px;
}

.task-label + .task-icons{
	padding-left: 5px;
}

.subtasks,.discussion{
	padding: 10px 0;
	margin: 0 0 30px 0;
}
.subtasks h4,.discussion h4{
	margin: 0 0 16px 0;
}

.subtasks p{
	line-height: 23px;
}

.discussion ul{
	padding: 0 40px;
}

.discussion ul li{
	line-height: 23px;
	padding: 0 0 0 10px;
}

.control{
	margin: 20px 0;
}

.modal-body{
	padding: 30px;
	overflow-y: auto;
}

.addTimeRecord{
	margin: 0 0 10px;
}
.time-records{
	background: #f7f7f7;
	padding: 15px 0;
	margin: 5px 0;
	border-top: 0.5px solid #e1e1e1;
	border-bottom: 0.5px solid #e1e1e1;
}

.count-task{
	font-size: 16px;
	padding-left: 5px;
}
@media (max-width: 760px){
	.postbox{
		width: 100%;
		margin: 0;
	}
}